body {
  background-color: #D0A2F7;
}

.gradient-background{
  background-color: purple;
}

.nav-list li a{
  color: #F1EAFF;
}

.logo {
  padding-left: 0px;
  padding-right: 0px;
}

.logo img{
  max-width: 100%;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.icon-square img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}



.carousel-inner .active{
  display: flex;
  justify-content: center;
}

.carousel-item img{
  max-height: 75vh;
  max-width: 100%;

}

#about{
  background: #F1EAFF;
}

.story{
  display: grid;
  grid-template-columns: .5fr 1.5fr;
  grid-template-rows: auto auto;
}

.story h2{
  grid-column: span 2;
}

.storyPhotos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  padding-left: 24px;
  padding-right: 24px;
}

.storyPhotos img{
  max-width: 100%;
  border-radius: 50%;
}

.storyPhotos div{
  display: flex;
  align-items: center;
  justify-content: center;
}


#branches{
  color: #F1EAFF;
}

.branches {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2em;
}

.storePhoto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1em;
}

.storePhoto img{
  width: 100%;
  border-radius: 12px; 
}

.addressContainer{
  display: flex;
  align-items: center;
}

.address img{
  width: 1em;
}

@media (max-width: 575px) {
  .logo {
    padding-left: 24px;
    padding-right: 24px;
  }
  
}

@media (min-width: 992px) and (min-height: 500px){
  #hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #prodcuts{
    height: 100vh;
       display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 767px){
  .story{
    display: flex;
    flex-direction: column-reverse;
  }
  .story h2{
    order: 1;
  }

  .branches{
    display: flex;
    flex-direction: column;
  }
}
